In [1]:
import feature_analysis

In [6]:
!pip install -i https://test.pypi.org/simple/ metrics-test-karsh==0.0.14

Looking in indexes: https://test.pypi.org/simple/
Collecting metrics-test-karsh==0.0.14
  Downloading https://test-files.pythonhosted.org/packages/65/97/659241774ab817168f2041a84d776c6107c162430f6ccff8da07d0ac81cc/metrics_test_karsh-0.0.14-py3-none-any.whl (9.3 kB)
Installing collected packages: metrics-test-karsh
  Attempting uninstall: metrics-test-karsh
    Found existing installation: metrics-test-karsh 0.0.13
    Uninstalling metrics-test-karsh-0.0.13:
      Successfully uninstalled metrics-test-karsh-0.0.13
Successfully installed metrics-test-karsh-0.0.14

WARNING: Ignoring invalid distribution -umpy (c:\users\utkar\appdata\local\continuum\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\utkar\appdata\local\continuum\anaconda3\lib\site-packages)
    WARNING: Ignoring invalid distribution -umpy (c:\users\utkar\appdata\local\continuum\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\utkar\appdata\local\continuum\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\utkar\appdata\local\continuum\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\users\utkar\appdata\local\continuum\anaconda3\lib\site-packages)

In [4]:
import feature_analys

SyntaxError: invalid syntax (feature_analysis.py, line 6)

In [2]:
import pandas as pd
import datetime
pd.options.mode.chained_assignment = None 

## Data Preprocessing:
weather = pd.read_csv("../../datasets/weatherAUS.csv")
weather.Date = pd.to_datetime(weather.Date)
weather_test = weather.loc[[not x for x in weather["RainTomorrow"].isnull()]]

def transform_date(x):
    if x < datetime.datetime(2012, 1, 1): 
        return "1. Before 2012"
    elif x < datetime.datetime(2015, 1, 1): 
        return "2. After 2012, Before 2015"
    else:
        return "3. After 2015"
    
weather_test.Date = [transform_date(x) for x in weather_test.Date]

In [6]:
report = feature_analysis.feature_analysis(weather_test, "RainTomorrow", "Date", bad_class="Yes")

In [7]:
report.missing_rate()

               Missing Count  Missing Rate (%)
Location                   0              0.00
MinTemp                  637              0.45
MaxTemp                  322              0.23
Rainfall                1406              0.99
Evaporation            60843             42.79
Sunshine               67816             47.69
WindGustDir             9330              6.56
WindGustSpeed           9270              6.52
WindDir9am             10013              7.04
WindDir3pm              3778              2.66
WindSpeed9am            1348              0.95
WindSpeed3pm            2630              1.85
Humidity9am             1774              1.25
Humidity3pm             3610              2.54
Pressure9am            14014              9.86
Pressure3pm            13981              9.83
Cloud9am               53657             37.74
Cloud3pm               57094             40.15
Temp9am                  904              0.64
Temp3pm                 2726              1.92
RainToday               1406              0.99

In [8]:
report.zero_rate()

               Zero Count  Zero Rate (%)
Location                0           0.00
MinTemp               156           0.11
MaxTemp                14           0.01
Rainfall            90275          63.49
Evaporation           240           0.17
Sunshine             2308           1.62
WindGustDir             0           0.00
WindGustSpeed           0           0.00
WindDir9am              0           0.00
WindDir3pm              0           0.00
WindSpeed9am         8612           6.06
WindSpeed3pm         1096           0.77
Humidity9am             1           0.00
Humidity3pm             4           0.00
Pressure9am             0           0.00
Pressure3pm             0           0.00
Cloud9am             8587           6.04
Cloud3pm             4957           3.49
Temp9am                35           0.02
Temp3pm                16           0.01
RainToday               0           0.00

In [9]:
report.analysis()

,Features,Missing Count,Missing Rate (%),Zero Count,Zero Rate (%),AUC,KS (%),IV
0,Location,0,0.00,0,0.00,0.50,2.03,0.1622
1,MinTemp,637,0.45,156,0.11,0.55,6.84,0.0454
2,MaxTemp,322,0.23,14,0.01,0.61,16.16,0.1373
3,Rainfall,1406,0.99,90275,63.49,0.69,33.39,0.4852
4,Evaporation,60843,42.79,240,0.17,0.54,8.90,0.0609
5,Sunshine,67816,47.69,2308,1.62,0.58,24.48,0.6857
6,WindGustDir,9330,6.56,0,0.00,0.53,6.57,0.0664
7,WindGustSpeed,9270,6.52,0,0.00,0.62,20.57,0.2641
8,WindDir9am,10013,7.04,0,0.00,0.52,6.69,0.0943
9,WindDir3pm,3778,2.66,0,0.00,0.52,5.05,0.0541
10,WindSpeed9am,1348,0.95,8612,6.06,0.55,7.65,0.0388
11,WindSpeed3pm,2630,1.85,1096,0.77,0.55,7.99,0.0435
12,Humidity9am,1774,1.25,1,0.00,0.68,27.80,0.4339
13,Humidity3pm,3610,2.54,4,0.00,0.78,43.70,1.1597
14,Pressure9am,14014,9.86,0,0.00,0.63,21.48,0.2852
15,Pressure3pm,13981,9.83,0,0.00,0.62,19.41,0.2354
16,Cloud9am,53657,37.74,8587,6.04,0.60,22.77,0.4306
17,Cloud3pm,57094,40.15,4957,3.49,0.62,27.38,0.6258
18,Temp9am,904,0.64,35,0.02,0.52,4.49,0.0096
19,Temp3pm,2726,1.92,16,0.01,0.63,19.35,0.2065
20,RainToday,1406,0.99,0,0.00,0.65,30.51,0.5048

In [10]:
report.iv_scores()

,Variable,Bin,Total,Total Ratio (%),Bad,Bad Rate (%),WoE,IV
0,Location,Adelaide,3090,2.17,688,22.27,0.0088,0.0000
1,Location,Albany,3016,2.12,902,29.91,-0.3897,0.0036
2,Location,Albury,3011,2.12,618,20.52,0.1124,0.0003
3,Location,AliceSprings,3031,2.13,244,8.05,1.1941,0.0210
4,Location,BadgerysCreek,2928,2.06,583,19.91,0.1504,0.0004
...,...,...,...,...,...,...,...,...
4,Temp3pm,"(27.8, 46.7]",27592,19.40,3619,13.12,0.6493,0.0674
5,Temp3pm,-999999999,2726,1.92,742,27.22,-0.2579,0.0014
0,RainToday,NA,1406,0.99,676,48.08,-1.1646,0.0170
1,RainToday,No,109332,76.89,16604,15.19,0.4786,0.1530
2,RainToday,Yes,31455,22.12,14597,46.41,-1.0975,0.3348

In [11]:
report.stability()

,Variable,Metric,1. Before 2012,"2. After 2012, Before 2015",3. After 2015
0,Location,psi,NaN,0.00907,0.01470
1,MinTemp,psi,NaN,0.00406,0.01378
2,MaxTemp,psi,NaN,0.00325,0.01076
3,Rainfall,psi,NaN,0.00268,0.00044
4,Evaporation,psi,NaN,0.02686,0.08531
5,Sunshine,psi,NaN,0.04608,0.10942
6,WindGustDir,psi,NaN,0.01417,0.00253
7,WindGustSpeed,psi,NaN,0.01395,0.00270
8,WindDir9am,psi,NaN,0.00208,0.00573
9,WindDir3pm,psi,NaN,0.00283,0.02129
10,WindSpeed9am,psi,NaN,0.00375,0.00379
11,WindSpeed3pm,psi,NaN,0.00362,0.03848
12,Humidity9am,psi,NaN,0.00720,0.00423
13,Humidity3pm,psi,NaN,0.01056,0.06162
14,Pressure9am,psi,NaN,0.00593,0.00396
15,Pressure3pm,psi,NaN,0.00347,0.00508
16,Cloud9am,psi,NaN,0.02106,0.03193
17,Cloud3pm,psi,NaN,0.01988,0.04892
18,Temp9am,psi,NaN,0.00216,0.01154
19,Temp3pm,psi,NaN,0.00407,0.10721
20,RainToday,psi,NaN,0.00290,0.00059

In [12]:
report.total()

,Variable,Bin,1. Before 2012,"2. After 2012, Before 2015",3. After 2015
0,Location,Adelaide,1212,979,899
1,Location,Albany,1096,1029,891
2,Location,Albury,1082,1027,902
3,Location,AliceSprings,1096,1037,898
4,Location,BadgerysCreek,1024,1022,882
...,...,...,...,...,...
4,Temp3pm,"(27.8, 46.7]",9245,9297,9050
5,Temp3pm,-999999999,431,232,2063
0,RainToday,NA,469,531,406
1,RainToday,No,38238,37764,33330
2,RainToday,Yes,11740,10246,9469

In [13]:
report.bad_rate()

,Variable,Bin,1. Before 2012,"2. After 2012, Before 2015",3. After 2015
0,Location,Adelaide,22.52,22.88,21.25
1,Location,Albany,29.01,31.29,29.41
2,Location,Albury,22.37,18.89,20.18
3,Location,AliceSprings,10.58,5.98,7.35
4,Location,BadgerysCreek,20.90,19.37,19.39
...,...,...,...,...,...
4,Temp3pm,"(27.8, 46.7]",14.55,11.48,13.34
5,Temp3pm,-999999999,31.09,40.52,24.92
0,RainToday,NA,41.79,54.43,47.04
1,RainToday,No,15.90,14.35,15.32
2,RainToday,Yes,47.68,45.89,45.38

In [14]:
report.to_excel()

  0%|          | 0/5 [00:00<?, ?it/s]