In [26]:
import feature_analysis
import pandas as pd
import numpy as np

In [6]:
fish = pd.read_csv("fish_test.csv")

In [7]:
fish

    Species  Weight  Length1  Length2  Length3   Height   Width       Date
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200  10/1/2020
1     Bream   290.0      NaN     26.3     31.2  12.4800  4.3056  10/1/2020
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961  10/1/2020
3     Bream   363.0     26.3     29.0      NaN  12.7300  4.4555  10/1/2020
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340  10/1/2020
..      ...     ...      ...      ...      ...      ...     ...        ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936  12/2/2021
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690  10/1/2020
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558  10/1/2020
157   Smelt    19.7     13.2     14.3      NaN   2.8728  2.0672  13/3/2022
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792  13/3/2022

[159 rows x 8 columns]

In [10]:
report = feature_analysis.regression.reg_analysis(fish, "Weight", "Date")

In [11]:
report.analyse()

,Features,Data Type,Missing Count,Missing Rate (%),Zero Count,Zero Rate (%),Pearson's Corr,|Pearson's Corr|,Spearman's Corr,|Spearman's Corr|,Kendall's Corr,|Kendall's Corr|,Anova F
0,Species,Categorical,7,4.40,0,0.0,-0.333740,0.333740,-0.422722,0.422722,-0.321257,0.321257,2.033582
1,Length1,Numerical,11,6.92,0,0.0,0.862428,0.862428,0.923704,0.923704,0.805795,0.805795,11.215406
2,Length2,Numerical,9,5.66,0,0.0,0.855608,0.855608,0.936748,0.936748,0.823682,0.823682,11.751955
3,Length3,Numerical,10,6.29,0,0.0,0.897784,0.897784,0.926278,0.926278,0.809883,0.809883,17.358878
4,Height,Numerical,9,5.66,0,0.0,0.703656,0.703656,0.838447,0.838447,0.668190,0.668190,5.202842
5,Width,Numerical,3,1.89,0,0.0,0.880493,0.880493,0.956273,0.956273,0.836278,0.836278,24.749947

In [14]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)

In [17]:
a = report.features_df

In [18]:
df = feature_analysis.binary_class.feature_types.fill_missing(a, "mean")
df = feature_analysis.binary_class.feature_types.labelled_df(df)

In [28]:
mae = []
for column in df.columns:
    rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
    rf.fit(df[[column]], report.y)
    # Calculate the absolute errors
    predictions = rf.predict(df[[column]])
    errors = abs(predictions - report.y)
    # Print out the mean absolute error (mae)
    mae.append(round(np.mean(errors), 2))

In [29]:
summary = report.analyse()

In [30]:
summary["MAE"] = mae

In [32]:
summary.sort_values("MAE")

,Features,Data Type,Missing Count,Missing Rate (%),Zero Count,Zero Rate (%),Pearson's Corr,|Pearson's Corr|,Spearman's Corr,|Spearman's Corr|,Kendall's Corr,|Kendall's Corr|,Anova F,MAE
5,Width,Numerical,3,1.89,0,0.0,0.880493,0.880493,0.956273,0.956273,0.836278,0.836278,24.749947,40.61
3,Length3,Numerical,10,6.29,0,0.0,0.897784,0.897784,0.926278,0.926278,0.809883,0.809883,17.358878,45.03
1,Length1,Numerical,11,6.92,0,0.0,0.862428,0.862428,0.923704,0.923704,0.805795,0.805795,11.215406,56.41
2,Length2,Numerical,9,5.66,0,0.0,0.855608,0.855608,0.936748,0.936748,0.823682,0.823682,11.751955,65.84
4,Height,Numerical,9,5.66,0,0.0,0.703656,0.703656,0.838447,0.838447,0.668190,0.668190,5.202842,69.97
0,Species,Categorical,7,4.40,0,0.0,-0.333740,0.333740,-0.422722,0.422722,-0.321257,0.321257,2.033582,213.33